[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
timm = "==0.5.4"
yake = "==0.4.8"
pycountry = "==22.3.5"
langdetect = "==1.0.9"
scipy = "*"
shapely = "*"
pdf2image = "*"
tqdm = "*"
jenkspy = "*"
opencv-python = "*"
pytesseract = "*"
layoutparser = "*"
detectron2 = {ref = "v0.5", git = "https://github.com/facebookresearch/detectron2.git"}

[dev-packages]

[requires]
python_version = "3.6"
